@model List<InfiniteJquery.Database_Access.db.employee>



@{
    foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Age</td>
        <td>@item.UserName</td>
        <td>@item.Designation</td>
        <td>@item.Location</td>
        <td><img src=@item.Img width="100px" height="100px" /></td>

        <td> @Html.ActionLink("View Profile", "Details", new { id = item.Id })</td>
        @*<td> @Html.ActionLink("Edit Profile", "Edit", new { id = item.Id })</td>*@



    </tr>
    }

}
